Q1. Create a Pandas Series that contains the following data: 4, 8, 15, 16, 23, and 42. Then, print the series.

In [3]:
import pandas as pd

data = [4, 8, 15, 16, 23, 42]
series = pd.Series(data)

print(series)

0     4
1     8
2    15
3    16
4    23
5    42
dtype: int64

In the above code, we import the Pandas library using import pandas as pd. Then, we create a Python list called data with the given numbers. Next, we create a Pandas Series called series using pd.Series(data), where data is the list we created. Finally, we use print(series) to display the Series with the elements 4, 8, 15, 16, 23, and 42.

Q2. Create a variable of list type containing 10 elements in it, and apply pandas.Series function on the
variable print it.

In [4]:
import pandas as pd

my_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
series = pd.Series(my_list)

print(series)

0     1
1     2
2     3
3     4
4     5
5     6
6     7
7     8
8     9
9    10
dtype: int64

In the above code, we first import the Pandas library using import pandas as pd. Then, we create a Python list called my_list with 10 elements. Next, we apply the pd.Series function to my_list to create a Pandas Series called series. Finally, we use print(series) to display the Series with the elements 1 to 10.

Q3. Create a Pandas DataFrame that contains the following data:

In [1]:
import pandas as pd

data = {
    'Name': ['Alice', 'Bob', 'Claire'],
    'Age': [25, 30, 27],
    'Gender': ['Female', 'Male', 'Female']
}

df = pd.DataFrame(data)

print(df)

     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female

In the code above, we create a Python dictionary called data with three keys: 'Name', 'Age', and 'Gender'. The corresponding values are lists that contain the data for each column.

We then create a Pandas DataFrame called df by passing the data dictionary to the pd.DataFrame function. Each key in the dictionary becomes a column name, and the corresponding list becomes the data for that column.

Finally, we use print(df) to display the DataFrame with the given data, showing the columns "Name", "Age", and "Gender" along with their respective values.

Q4. What is ‘DataFrame’ in pandas and how is it different from pandas.series? Explain with an example.

In pandas, a DataFrame is a two-dimensional labeled data structure that represents a table-like data structure with rows and columns. It is similar to a spreadsheet or a SQL table. A DataFrame can contain multiple columns, each with its own label, and each column can hold data of different types (e.g., numbers, strings, etc.). It provides a way to organize and manipulate structured data efficiently.

On the other hand, a Series is a one-dimensional labeled array that can hold data of any type. It is similar to a column in a DataFrame or a single column of data in a spreadsheet. A Series has an associated index, which labels each element in the Series.

To illustrate the difference between a DataFrame and a Series, consider the following example:

In [2]:
import pandas as pd

# Creating a DataFrame
data = {'Name': ['Alice', 'Bob', 'Charlie'],
        'Age': [25, 30, 27],
        'City': ['New York', 'Los Angeles', 'Chicago']}

df = pd.DataFrame(data)

# Creating a Series
ages = pd.Series([25, 30, 27], name='Age')

print("DataFrame:")
print(df)
print("\nSeries:")
print(ages)

DataFrame:
      Name  Age         City
0    Alice   25     New York
1      Bob   30  Los Angeles
2  Charlie   27      Chicago

Series:
0    25
1    30
2    27
Name: Age, dtype: int64

In the example above, we first create a DataFrame called df with three columns: 'Name', 'Age', and 'City'. Each column is a Pandas Series. The DataFrame combines these Series together into a table-like structure where each Series corresponds to a column.

We also create a separate Series called ages that only represents the ages column. It has its own name ('Age') and an associated index. The Series is a one-dimensional structure with a single column of data and its associated index.

In summary, a DataFrame is a collection of Series arranged in a tabular format, whereas a Series is a one-dimensional labeled array. The key difference is that a DataFrame can hold multiple columns of data, while a Series represents a single column of data.

Q5. What are some common functions you can use to manipulate data in a Pandas DataFrame? Can
you give an example of when you might use one of these functions?

Pandas provides a wide range of functions to manipulate and transform data in a DataFrame. Here are some common functions you can use:

head() and tail(): These functions allow you to view the first or last few rows of a DataFrame. They are useful for getting a quick overview of the data.

describe(): This function provides summary statistics of numerical columns in the DataFrame, such as count, mean, standard deviation, minimum, maximum, and quartiles. It helps in understanding the distribution of data.

shape: This attribute gives the dimensions of the DataFrame, i.e., the number of rows and columns.

info(): This function provides a concise summary of the DataFrame, including the data types of each column and the number of non-null values. It helps in understanding the data quality and identifying missing values.

loc[] and iloc[]: These indexing methods allow for accessing specific rows or columns in a DataFrame. loc[] uses label-based indexing, while iloc[] uses integer-based indexing.

drop(): This function is used to remove rows or columns from the DataFrame. It helps in eliminating unnecessary data or handling missing values.

groupby(): This function is used for grouping data based on one or more columns and performing operations on the grouped data. It is useful for aggregating data, calculating group-wise statistics, or applying custom functions.

sort_values(): This function is used to sort the DataFrame based on one or more columns. It helps in arranging data in a desired order.

fillna(): This function is used to fill missing values in the DataFrame with specified values or with certain fill methods like forward fill or backward fill. It helps in handling missing or incomplete data.

apply(): This function is used to apply a function to each element, row, or column of the DataFrame. It is useful for performing element-wise transformations or custom operations on the data.

Example usage:
Let's consider an example where you have a DataFrame containing student records with columns like "Name," "Age," and "Score." You might want to calculate the average score for each student. This can be done using the groupby() and mean() functions as follows:

In [5]:
import pandas as pd

data = {
    'Name': ['Alice', 'Bob', 'Charlie', 'Alice', 'Bob'],
    'Age': [18, 20, 19, 18, 20],
    'Score': [80, 75, 90, 85, 95]
}

df = pd.DataFrame(data)

average_scores = df.groupby('Name')['Score'].mean()

print(average_scores)

Name
Alice      82.5
Bob        85.0
Charlie    90.0
Name: Score, dtype: float64

In this example, we group the DataFrame df by the "Name" column using groupby('Name'). Then, we select the "Score" column using ['Score'] and calculate the average score for each student using .mean(). The result is a Series with the student names as the index and their corresponding average scores.

Q6. Which of the following is mutable in nature Series, DataFrame, Panel?

Among the options provided (Series, DataFrame, Panel), both Series and DataFrame are mutable in nature, while Panel is not mutable.

In pandas:

Series: A Series is mutable, meaning you can modify the values in a Series after it has been created. You can change specific elements, add or remove elements, or perform operations that modify the data within the Series.

DataFrame: A DataFrame is also mutable. You can modify the values in individual cells, add or remove rows and columns, or perform various operations that modify the data structure or values within the DataFrame.

Panel: However, Panel is no longer recommended for general use and is deprecated as of pandas version 0.20.0. It is a 3-dimensional data structure that was used for handling panel data (an extension of DataFrame for handling data with dimensions of items, major axis, and minor axis). Panel is not considered mutable as it is no longer actively supported.

To summarize, both Series and DataFrame are mutable in nature, while Panel is deprecated and not recommended for use.

Q7. Create a DataFrame using multiple Series. Explain with an example.

To create a DataFrame using multiple Series, you can pass the Series objects as a dictionary to the pd.DataFrame() function. Each Series will become a column in the resulting DataFrame. Here's an example:

In [8]:
import pandas as pd

# Creating Series
name_series = pd.Series(['Alice', 'Bob', 'Claire'])
age_series = pd.Series([25, 30, 27])
city_series = pd.Series(['New York', 'Los Angeles', 'Chicago'])

# Creating DataFrame
data = {'Name': name_series, 'Age': age_series, 'City': city_series}
df = pd.DataFrame(data)

print(df)

     Name  Age         City
0   Alice   25     New York
1     Bob   30  Los Angeles
2  Claire   27      Chicago

In the example above, we create three separate Series objects: name_series, age_series, and city_series. Each Series contains data for a specific column of the DataFrame.

Then, we create a dictionary called data, where the keys are the column names ('Name', 'Age', and 'City') and the values are the corresponding Series objects.

Finally, we pass the data dictionary to the pd.DataFrame() function to create the DataFrame df. Each key-value pair in the data dictionary becomes a column in the DataFrame.

The resulting DataFrame consists of three columns ('Name', 'Age', and 'City') with their respective values from the Series objects. This allows you to combine multiple Series to form a cohesive DataFrame structure.